Topfo_Member/App_WebReferences/DiscuzLoginWS/Tz888_DiscuzLogin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://topfo.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://topfo.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://topfo.com/">
      <s:element name="CheckTransferPass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckTransferPassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckTransferPassResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSpace">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSpaceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckSpaceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserAvatar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserAvatarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserAvatarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Exists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="uid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLogionUserName">
        <s:complexType />
      </s:element>
      <s:element name="GetLogionUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLogionUserNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserEmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transferPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckPasswordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="isLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transferPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transferPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transferPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateUserPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckAndCreateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transferPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckAndCreateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckAndCreateUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="int" type="s:int" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckTransferPassSoapIn">
    <wsdl:part name="parameters" element="tns:CheckTransferPass" />
  </wsdl:message>
  <wsdl:message name="CheckTransferPassSoapOut">
    <wsdl:part name="parameters" element="tns:CheckTransferPassResponse" />
  </wsdl:message>
  <wsdl:message name="CheckSpaceSoapIn">
    <wsdl:part name="parameters" element="tns:CheckSpace" />
  </wsdl:message>
  <wsdl:message name="CheckSpaceSoapOut">
    <wsdl:part name="parameters" element="tns:CheckSpaceResponse" />
  </wsdl:message>
  <wsdl:message name="UserAvatarSoapIn">
    <wsdl:part name="parameters" element="tns:UserAvatar" />
  </wsdl:message>
  <wsdl:message name="UserAvatarSoapOut">
    <wsdl:part name="parameters" element="tns:UserAvatarResponse" />
  </wsdl:message>
  <wsdl:message name="ExistsSoapIn">
    <wsdl:part name="parameters" element="tns:Exists" />
  </wsdl:message>
  <wsdl:message name="ExistsSoapOut">
    <wsdl:part name="parameters" element="tns:ExistsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserName" />
  </wsdl:message>
  <wsdl:message name="GetUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserID" />
  </wsdl:message>
  <wsdl:message name="GetUserIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetLogionUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetLogionUserName" />
  </wsdl:message>
  <wsdl:message name="GetLogionUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetLogionUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserEmailSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserEmail" />
  </wsdl:message>
  <wsdl:message name="GetUserEmailSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserEmailResponse" />
  </wsdl:message>
  <wsdl:message name="CheckPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:CheckPassword" />
  </wsdl:message>
  <wsdl:message name="CheckPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:CheckPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="CheckLoginSoapIn">
    <wsdl:part name="parameters" element="tns:CheckLogin" />
  </wsdl:message>
  <wsdl:message name="CheckLoginSoapOut">
    <wsdl:part name="parameters" element="tns:CheckLoginResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserPassword" />
  </wsdl:message>
  <wsdl:message name="UpdateUserPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="CheckAndCreateUserSoapIn">
    <wsdl:part name="parameters" element="tns:CheckAndCreateUser" />
  </wsdl:message>
  <wsdl:message name="CheckAndCreateUserSoapOut">
    <wsdl:part name="parameters" element="tns:CheckAndCreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="CheckTransferPassHttpGetIn">
    <wsdl:part name="pass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckTransferPassHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="CheckSpaceHttpGetIn">
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckSpaceHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="UserAvatarHttpGetIn">
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserAvatarHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ExistsHttpGetIn">
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExistsHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetUserNameHttpGetIn">
    <wsdl:part name="uid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserNameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUserIDHttpGetIn">
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserIDHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetLogionUserNameHttpGetIn" />
  <wsdl:message name="GetLogionUserNameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUserEmailHttpGetIn">
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserEmailHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckPasswordHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="transferPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckPasswordHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="CreateUserHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="isLogin" type="s:string" />
    <wsdl:part name="transferPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateUserHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckLoginHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="transferPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckLoginHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserPasswordHttpGetIn">
    <wsdl:part name="uid" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="transferPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserPasswordHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckAndCreateUserHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="transferPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckAndCreateUserHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckTransferPassHttpPostIn">
    <wsdl:part name="pass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckTransferPassHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="CheckSpaceHttpPostIn">
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckSpaceHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="UserAvatarHttpPostIn">
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserAvatarHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ExistsHttpPostIn">
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExistsHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetUserNameHttpPostIn">
    <wsdl:part name="uid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserNameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUserIDHttpPostIn">
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserIDHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetLogionUserNameHttpPostIn" />
  <wsdl:message name="GetLogionUserNameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUserEmailHttpPostIn">
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserEmailHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckPasswordHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="transferPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckPasswordHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="CreateUserHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="isLogin" type="s:string" />
    <wsdl:part name="transferPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateUserHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckLoginHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="transferPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckLoginHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserPasswordHttpPostIn">
    <wsdl:part name="uid" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="transferPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserPasswordHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckAndCreateUserHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="transferPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckAndCreateUserHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="Tz888_DiscuzLoginSoap">
    <wsdl:operation name="CheckTransferPass">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">判断指定用户名是否已存在</wsdl:documentation>
      <wsdl:input message="tns:CheckTransferPassSoapIn" />
      <wsdl:output message="tns:CheckTransferPassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckSpace">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">返回用户开通空间的ID</wsdl:documentation>
      <wsdl:input message="tns:CheckSpaceSoapIn" />
      <wsdl:output message="tns:CheckSpaceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserAvatar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">返回指定用户的头象图片</wsdl:documentation>
      <wsdl:input message="tns:UserAvatarSoapIn" />
      <wsdl:output message="tns:UserAvatarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Exists">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">判断指定用户名是否已存在</wsdl:documentation>
      <wsdl:input message="tns:ExistsSoapIn" />
      <wsdl:output message="tns:ExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户id返回用户名</wsdl:documentation>
      <wsdl:input message="tns:GetUserNameSoapIn" />
      <wsdl:output message="tns:GetUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户名返回用户id</wsdl:documentation>
      <wsdl:input message="tns:GetUserIDSoapIn" />
      <wsdl:output message="tns:GetUserIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLogionUserName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得登录用户的用户名</wsdl:documentation>
      <wsdl:input message="tns:GetLogionUserNameSoapIn" />
      <wsdl:output message="tns:GetLogionUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户获得Email</wsdl:documentation>
      <wsdl:input message="tns:GetUserEmailSoapIn" />
      <wsdl:output message="tns:GetUserEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">检查密码(需要身份合法性验证)</wsdl:documentation>
      <wsdl:input message="tns:CheckPasswordSoapIn" />
      <wsdl:output message="tns:CheckPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">创建新用户(需要身份合法性验证)</wsdl:documentation>
      <wsdl:input message="tns:CreateUserSoapIn" />
      <wsdl:output message="tns:CreateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">论坛登录验证(需要身份合法性验证)</wsdl:documentation>
      <wsdl:input message="tns:CheckLoginSoapIn" />
      <wsdl:output message="tns:CheckLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新用户密码(需要身份合法性验证)</wsdl:documentation>
      <wsdl:input message="tns:UpdateUserPasswordSoapIn" />
      <wsdl:output message="tns:UpdateUserPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckAndCreateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">检查并创建论坛用户(需要身份合法性验证)</wsdl:documentation>
      <wsdl:input message="tns:CheckAndCreateUserSoapIn" />
      <wsdl:output message="tns:CheckAndCreateUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Tz888_DiscuzLoginHttpGet">
    <wsdl:operation name="CheckTransferPass">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">判断指定用户名是否已存在</wsdl:documentation>
      <wsdl:input message="tns:CheckTransferPassHttpGetIn" />
      <wsdl:output message="tns:CheckTransferPassHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckSpace">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">返回用户开通空间的ID</wsdl:documentation>
      <wsdl:input message="tns:CheckSpaceHttpGetIn" />
      <wsdl:output message="tns:CheckSpaceHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserAvatar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">返回指定用户的头象图片</wsdl:documentation>
      <wsdl:input message="tns:UserAvatarHttpGetIn" />
      <wsdl:output message="tns:UserAvatarHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Exists">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">判断指定用户名是否已存在</wsdl:documentation>
      <wsdl:input message="tns:ExistsHttpGetIn" />
      <wsdl:output message="tns:ExistsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户id返回用户名</wsdl:documentation>
      <wsdl:input message="tns:GetUserNameHttpGetIn" />
      <wsdl:output message="tns:GetUserNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户名返回用户id</wsdl:documentation>
      <wsdl:input message="tns:GetUserIDHttpGetIn" />
      <wsdl:output message="tns:GetUserIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLogionUserName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得登录用户的用户名</wsdl:documentation>
      <wsdl:input message="tns:GetLogionUserNameHttpGetIn" />
      <wsdl:output message="tns:GetLogionUserNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户获得Email</wsdl:documentation>
      <wsdl:input message="tns:GetUserEmailHttpGetIn" />
      <wsdl:output message="tns:GetUserEmailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">检查密码(需要身份合法性验证)</wsdl:documentation>
      <wsdl:input message="tns:CheckPasswordHttpGetIn" />
      <wsdl:output message="tns:CheckPasswordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">创建新用户(需要身份合法性验证)</wsdl:documentation>
      <wsdl:input message="tns:CreateUserHttpGetIn" />
      <wsdl:output message="tns:CreateUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">论坛登录验证(需要身份合法性验证)</wsdl:documentation>
      <wsdl:input message="tns:CheckLoginHttpGetIn" />
      <wsdl:output message="tns:CheckLoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新用户密码(需要身份合法性验证)</wsdl:documentation>
      <wsdl:input message="tns:UpdateUserPasswordHttpGetIn" />
      <wsdl:output message="tns:UpdateUserPasswordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckAndCreateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">检查并创建论坛用户(需要身份合法性验证)</wsdl:documentation>
      <wsdl:input message="tns:CheckAndCreateUserHttpGetIn" />
      <wsdl:output message="tns:CheckAndCreateUserHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Tz888_DiscuzLoginHttpPost">
    <wsdl:operation name="CheckTransferPass">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">判断指定用户名是否已存在</wsdl:documentation>
      <wsdl:input message="tns:CheckTransferPassHttpPostIn" />
      <wsdl:output message="tns:CheckTransferPassHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckSpace">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">返回用户开通空间的ID</wsdl:documentation>
      <wsdl:input message="tns:CheckSpaceHttpPostIn" />
      <wsdl:output message="tns:CheckSpaceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserAvatar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">返回指定用户的头象图片</wsdl:documentation>
      <wsdl:input message="tns:UserAvatarHttpPostIn" />
      <wsdl:output message="tns:UserAvatarHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Exists">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">判断指定用户名是否已存在</wsdl:documentation>
      <wsdl:input message="tns:ExistsHttpPostIn" />
      <wsdl:output message="tns:ExistsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户id返回用户名</wsdl:documentation>
      <wsdl:input message="tns:GetUserNameHttpPostIn" />
      <wsdl:output message="tns:GetUserNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户名返回用户id</wsdl:documentation>
      <wsdl:input message="tns:GetUserIDHttpPostIn" />
      <wsdl:output message="tns:GetUserIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLogionUserName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得登录用户的用户名</wsdl:documentation>
      <wsdl:input message="tns:GetLogionUserNameHttpPostIn" />
      <wsdl:output message="tns:GetLogionUserNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户获得Email</wsdl:documentation>
      <wsdl:input message="tns:GetUserEmailHttpPostIn" />
      <wsdl:output message="tns:GetUserEmailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">检查密码(需要身份合法性验证)</wsdl:documentation>
      <wsdl:input message="tns:CheckPasswordHttpPostIn" />
      <wsdl:output message="tns:CheckPasswordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">创建新用户(需要身份合法性验证)</wsdl:documentation>
      <wsdl:input message="tns:CreateUserHttpPostIn" />
      <wsdl:output message="tns:CreateUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">论坛登录验证(需要身份合法性验证)</wsdl:documentation>
      <wsdl:input message="tns:CheckLoginHttpPostIn" />
      <wsdl:output message="tns:CheckLoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新用户密码(需要身份合法性验证)</wsdl:documentation>
      <wsdl:input message="tns:UpdateUserPasswordHttpPostIn" />
      <wsdl:output message="tns:UpdateUserPasswordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckAndCreateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">检查并创建论坛用户(需要身份合法性验证)</wsdl:documentation>
      <wsdl:input message="tns:CheckAndCreateUserHttpPostIn" />
      <wsdl:output message="tns:CheckAndCreateUserHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Tz888_DiscuzLoginSoap" type="tns:Tz888_DiscuzLoginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckTransferPass">
      <soap:operation soapAction="http://topfo.com/CheckTransferPass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSpace">
      <soap:operation soapAction="http://topfo.com/CheckSpace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAvatar">
      <soap:operation soapAction="http://topfo.com/UserAvatar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exists">
      <soap:operation soapAction="http://topfo.com/Exists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <soap:operation soapAction="http://topfo.com/GetUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <soap:operation soapAction="http://topfo.com/GetUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogionUserName">
      <soap:operation soapAction="http://topfo.com/GetLogionUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserEmail">
      <soap:operation soapAction="http://topfo.com/GetUserEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <soap:operation soapAction="http://topfo.com/CheckPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://topfo.com/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLogin">
      <soap:operation soapAction="http://topfo.com/CheckLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPassword">
      <soap:operation soapAction="http://topfo.com/UpdateUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAndCreateUser">
      <soap:operation soapAction="http://topfo.com/CheckAndCreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Tz888_DiscuzLoginSoap12" type="tns:Tz888_DiscuzLoginSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckTransferPass">
      <soap12:operation soapAction="http://topfo.com/CheckTransferPass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSpace">
      <soap12:operation soapAction="http://topfo.com/CheckSpace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAvatar">
      <soap12:operation soapAction="http://topfo.com/UserAvatar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exists">
      <soap12:operation soapAction="http://topfo.com/Exists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <soap12:operation soapAction="http://topfo.com/GetUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <soap12:operation soapAction="http://topfo.com/GetUserID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogionUserName">
      <soap12:operation soapAction="http://topfo.com/GetLogionUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserEmail">
      <soap12:operation soapAction="http://topfo.com/GetUserEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <soap12:operation soapAction="http://topfo.com/CheckPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://topfo.com/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLogin">
      <soap12:operation soapAction="http://topfo.com/CheckLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPassword">
      <soap12:operation soapAction="http://topfo.com/UpdateUserPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAndCreateUser">
      <soap12:operation soapAction="http://topfo.com/CheckAndCreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Tz888_DiscuzLoginHttpGet" type="tns:Tz888_DiscuzLoginHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="CheckTransferPass">
      <http:operation location="/CheckTransferPass" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSpace">
      <http:operation location="/CheckSpace" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAvatar">
      <http:operation location="/UserAvatar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exists">
      <http:operation location="/Exists" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <http:operation location="/GetUserName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <http:operation location="/GetUserID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogionUserName">
      <http:operation location="/GetLogionUserName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserEmail">
      <http:operation location="/GetUserEmail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <http:operation location="/CheckPassword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <http:operation location="/CreateUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLogin">
      <http:operation location="/CheckLogin" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPassword">
      <http:operation location="/UpdateUserPassword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAndCreateUser">
      <http:operation location="/CheckAndCreateUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Tz888_DiscuzLoginHttpPost" type="tns:Tz888_DiscuzLoginHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CheckTransferPass">
      <http:operation location="/CheckTransferPass" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSpace">
      <http:operation location="/CheckSpace" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAvatar">
      <http:operation location="/UserAvatar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exists">
      <http:operation location="/Exists" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <http:operation location="/GetUserName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <http:operation location="/GetUserID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogionUserName">
      <http:operation location="/GetLogionUserName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserEmail">
      <http:operation location="/GetUserEmail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <http:operation location="/CheckPassword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <http:operation location="/CreateUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLogin">
      <http:operation location="/CheckLogin" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPassword">
      <http:operation location="/UpdateUserPassword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAndCreateUser">
      <http:operation location="/CheckAndCreateUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Tz888_DiscuzLogin">
    <wsdl:port name="Tz888_DiscuzLoginSoap" binding="tns:Tz888_DiscuzLoginSoap">
      <soap:address location="http://bbs.topfo.com/services/Tz888_DiscuzLogin.asmx" />
    </wsdl:port>
    <wsdl:port name="Tz888_DiscuzLoginSoap12" binding="tns:Tz888_DiscuzLoginSoap12">
      <soap12:address location="http://bbs.topfo.com/services/Tz888_DiscuzLogin.asmx" />
    </wsdl:port>
    <wsdl:port name="Tz888_DiscuzLoginHttpGet" binding="tns:Tz888_DiscuzLoginHttpGet">
      <http:address location="http://bbs.topfo.com/services/Tz888_DiscuzLogin.asmx" />
    </wsdl:port>
    <wsdl:port name="Tz888_DiscuzLoginHttpPost" binding="tns:Tz888_DiscuzLoginHttpPost">
      <http:address location="http://bbs.topfo.com/services/Tz888_DiscuzLogin.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>